%display {
  font-size: rem(42px);
  font-weight: 700;
}

%heading1 {
  font-size: rem(36px);
  font-weight: 700;
}

%heading2 {
  font-size: rem(30px);
  font-weight: 600;
}

%heading3 {
  font-size: rem(24px);
  font-weight: 600;
}

%heading4 {
  font-size: rem(18px);
  font-weight: 400;
}

%heading5 {
  font-size: rem(14px);
  font-weight: 400;
}

%paragraph {
  font-size: rem(18px);
  font-weight: 400;
}
