.Tour {
  @include flexboxCenterColumn;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 $paddingSmall $paddingExtraSmall $paddingSmall;
  justify-content: space-between;
  background-color: white;

  &__wrapper {
    @include flexboxCenterColumn;
    padding: $paddingExtraSmall;
    background-color: $background-secondary;
    border: 2px solid colorShade($btn-main, white, 15%);
    border-radius: $roundedExtraSmall;
  }

  &__container {
    width: 100%;
    height: auto;
  }

  &__header {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: $paddingExtraSmall $paddingSmall;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    &__container {
      @include flexboxCenter;
      gap: rem(20px);
    }
  }

  &__title {
    line-height: 1;
  }

  &__backIcon {
    width: rem(40px);
    height: rem(40px);
    display: block;
    color: $background-primary;
    opacity: 0.8;
    cursor: pointer;
  }

  &__bookmarkIcon {
    width: rem(32px);
    height: rem(32px);
    color: $background-primary;
    opacity: 0.8;
    cursor: pointer;

    //disabilita il click sull'icona bookmark quando la finestra di dialogo è aperta
    &_disabled {
      pointer-events: none;
    }
  }

  &__gallery {
    position: relative;
    width: 100vw;
    min-width: 370px;
    height: 280px;
    z-index: 0;

    &__container {
      width: 100%;
      height: 280px;
    }

    &__image {
      @include centerPosition;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__details {
    position: absolute;
    width: 40%;
    height: 80px;
    bottom: 0;
    left: 0;
    padding: $paddingExtraSmall $paddingSmall;
    z-index: 99;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__price {
    font-weight: 700;
    font-size: rem(32px);
  }

  &__nDays {
    font-weight: 500;
    font-size: rem(20px);
  }

  &__counter {
    @include flexboxCenter;
    gap: rem(12px);
    height: 100%;
  }

  &__countIcon {
    svg {
      display: block;
      width: rem(38px);
      height: rem(38px);
      color: $background-primary;
      opacity: 0.8;
    }
  }

  &__fadeOut {
    opacity: 0;
  }

  &__fadeIn {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  &__info {
    @include flexboxCenter();
    justify-content: space-evenly;
    align-items: center;
    padding-top: $paddingSmall;
    padding-bottom: $paddingExtraSmall;

    &__wrapper {
      @include flexboxCenterColumn;
      height: rem(110px);
      justify-content: space-between;
      padding: $paddingExtraSmall $paddingSmall;
      background-color: $background-secondary;
      border: 2px solid colorShade($btn-main, white, 15%);
      border-radius: $roundedExtraSmall;
    }

    &__container {
      @include flexboxCenter;
      gap: rem(10px);
    }
  }

  &__arrowDownIcon {
    width: rem(25px);
    height: rem(25px);
    color: $background-primary;
    opacity: 0.8;
  }

  &__departureText {
    color: $text-secondary;
    text-transform: uppercase;
  }

  &__departure {
    margin-top: -10px;
    font-weight: 500;
    font-size: rem(22px);
    text-align: center;
  }

  &__date {
    font-size: rem(14px);

    span {
      color: $text-secondary;
    }
  }

  &__description__text {
    padding-bottom: $paddingExtraSmall;
  }

  &__stages {
    @include flexboxCenter;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: $paddingExtraSmall 0;
    gap: rem(4px);

    &__wrapper {
      @include flexboxCenter;
      gap: rem(4px);
    }

    &__stage {
      padding: $paddingExtraSmall;
      background-color: $background-secondary;
      border: 2px solid colorShade($btn-main, white, 15%);
      border-radius: $roundedExtraSmall;
      font-size: rem(14px);
    }
  }

  &__boatIcon {
    width: rem(25px);
    height: rem(25px);
    color: $background-primary;
    opacity: 0.8;
  }

  &__thingsToKnow {
    @include flexboxCenter;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: rem(8px);
    padding: $paddingExtraSmall 0;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 400;
    color: $text-secondary;
  }

  &__reservations,
  &__reservationsType,
  &__boatType,
  &__ratings,
  &__nOfReviews,
  &__reservationsAvailable {
    font-size: rem(22px);
    text-transform: capitalize;
  }
}

// MEDIA QUERY LAPTOP AND DESKTOP
@media screen and (min-width: 768px) {
  .Tour {
    padding: 0 $paddingExtraLarge $paddingMedium $paddingExtraLarge;

    &__wrapper {
      padding: $paddingSmall;
    }

    &__header {
      height: 100px;
      padding-top: $paddingMedium;
      padding-left: $paddingExtraLarge;
      padding-right: $paddingExtraLarge;
    }

    &__backIcon {
      width: rem(45px);
      height: rem(45px);
    }

    &__bookmarkIcon {
      width: rem(40px);
      height: rem(40px);
    }

    &__gallery {
      height: 450px;
      max-width: 1400px;

      &__container {
        height: 450px;
      }
    }

    &__details {
      position: absolute;
      width: 25%;
      height: 100px;
      bottom: 0;
      left: 0;
      padding: $paddingSmall $paddingExtraLarge;
    }

    &__price {
      font-size: rem(38px);
    }

    &__nDays {
      font-size: rem(24px);
    }

    &__info {
      @include flexboxCenter();
      justify-content: space-evenly;
      align-items: center;
      padding-top: $paddingSmall;
      padding-bottom: $paddingExtraSmall;

      &__wrapper {
        height: rem(150px);
        padding: $paddingMedium;
      }
    }

    &__count {
      font-size: rem(28px);
    }

    &__countIcon {
      svg {
        width: rem(45px);
        height: rem(45px);
      }

      &__container {
        @include flexboxCenter;
        gap: rem(10px);
      }
    }

    &__arrowDownIcon {
      width: rem(35px);
      height: rem(35px);
    }

    &__departure {
      font-size: rem(26px);
    }

    &__date {
      font-size: rem(18px);
    }

    &__stages {
      gap: rem(15px);

      &__wrapper {
        gap: rem(15px);
      }

      &__stage {
        padding: $paddingSmall;
        font-size: rem(18px);
      }
    }

    &__boatIcon {
      width: rem(35px);
      height: rem(35px);
    }

    &__thingsToKnow {
      @include flexboxCenter;
      flex-wrap: wrap;
      gap: rem(15px);
    }

    &__text {
      font-size: rem(16px);
    }

    &__reservations,
    &__reservationsType,
    &__boatType,
    &__ratings,
    &__nOfReviews,
    &__reservationsAvailable {
      font-size: rem(26px);
    }
  }
}
